/Java fundamentos/DeclarandoMetodos/target/
/Java fundamentos/operadorTernario/target/
/Java fundamentos/exercicio1/target/
/ClassesAtributos/target/
/calculadorIMC/target/
/Java fundamentos/getsetJava/target/
/Java fundamentos/testeGeteSet1/target/
/Java fundamentos/TesteGeteSet2/target/
/Java fundamentos/exemploStatic/target/
/Java fundamentos/exemploPolimorfismo/target/
